@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	border: 30x solid peachpuff;
}

html,body {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(imagesprofile/6.jpg);
}

.text_1_btn {
	background: black;
	font-family: 'Quicksand', sans-serif;
	color: white;
	outline: none;
	border: 1px solid white;
	width: 160px;
	height: 35px;
	transition: 0.3s;
}

#text_1_btn: hover {
	color: orangered;
	flex: initial;
}

